<div class="filters">
  <md-chip-list>
    <md-chip *ngFor="let lang of allLangs" [id]="lang" [ngClass]="{'selected': isLangSelected(lang)}" (click)="clickOnLang($event)">{{lang}}</md-chip>
  </md-chip-list>
</div>

<div class="main-content">
  <md-card *ngFor="let repo of repoList | async" class="card">
    <md-card-header>
      <img md-card-avatar class="card-avatar" [src]="repo.owner.avatar_url">
      <md-card-title>{{repo.name}}</md-card-title>
      <md-card-subtitle>{{repo.owner.login}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        {{repo.description}}
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-icon-button (click)="goToRepoPage(repo.html_url)">
        <md-icon>open_in_new</md-icon>
      </button>
      <button md-icon-button>
        <md-icon>favorite_border</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>