<md-sidenav-container>
  <md-toolbar>
    <button md-button (click)="sidenav.open()">Menu</button> My App
  </md-toolbar>
  <md-sidenav #sidenav mode="push">
    comming soon
  </md-sidenav>
  <div class="main-content">
    <md-card class="card">
      <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
    <md-card class="card">
      <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</md-sidenav-container>